@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

:root {
  font-family: --apple-system, "Pretendard Variable", "Segoe UI", sans-serif;
}

body {
  font-family: --apple-system, "Pretendard Variable", "Segoe UI", sans-serif;
  background-color: #ffffff;
}
